.container{
    border: 5px solid blue;
    padding: 15px;
    width: 300px;
    height: auto;
    border-radius: 15px;
    margin-left: 39%;
    background-color:rgba(16, 169, 230, 0.507);
    
   }
   h2{
       text-align: center;
   }